$main-font: 'Kanit', sans-serif;
$second-font: 'Roboto', sans-serif;

//light theme colors
$first-color: #2d62f2;
$second-color: #d23000;
$third-color: #008c5c;
$fourth-color: #eee8a9;

//Dark theme colors
$first-dark-color: #0040ef;
$second-dark-color: #1c1a27;
$third-dark-color: #484554;
$fourth-dark-color: #ada9bb;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $main-font;
}

p {
  font-family: $second-font;
}

label {
  font-family: $main-font;
}

button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  font-family: $main-font;
}

.btn-with-icon {
  padding: 0.4em;
  background-color: $second-color;
  border: 1px solid $second-color;

  font-size: clamp(1.4rem, 1.5vw, 5rem);
  font-weight: 600;
  text-align: center;

  transition: all 200ms;
  color: white;

  &-i {
    color: white;
    transition: all 200ms;
  }

  &:hover {
    background-color: $third-color;
    border-color: $third-color;
    color: $fourth-color;
    & > * {
      color: $fourth-color;
    }
  }
}

.btn-without-icon {
  padding: 0.2em;
  background-color: transparent;

  font-size: clamp(1rem, 1.3vw, 3rem);
  font-weight: 600;
  text-align: center;

  transition: all 200ms;
  color: white;

  &::after {
    display: block;
    content: ('');

    padding: 0.05em 0;
    width: 100%;
    background-color: $fourth-color;

    transform: scaleX(0);
    transition: all 200ms;
  }
  &:hover::after {
    transform: scaleX(1);
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $first-color;
  padding: 1em;
  color: white;

  .header__title {
    font-family: $main-font;
  }

  .btn-change-theme {
    padding: 0.5em 0.7em;
    border-radius: 50%;
  }
}

.app-section {
  .todo-list-form {
    .form-div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5em;

      margin: 1em;

      &__label {
        font-size: clamp(2rem, 1.7vw, 6rem);
        font-weight: 700;
      }

      &__input {
        border: 2px solid $second-color;
        padding: 0.3em;
        width: min(90%, 50rem);

        font-family: $second-font;
        font-size: clamp(1.5rem, 1.5vw, 4rem);
        font-weight: 600;

        transition: all 200ms;

        &:hover,
        &:focus {
          border: 2px solid $third-color;
        }
      }

      .btn-add-todo {
        font-size: clamp(2rem, 1.7vw, 6rem);
      }
    }
  }

  .todo-list-container {
    width: min(90%, 60em);
    margin: 0 auto;
    padding: 0 1em 1em 1em;
    background-color: $first-color;

    color: white;

    .title-and-filters-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .todo-list {
      height: 30em;
      padding: 0 1em;
      background-color: $fourth-color;
      overflow-y: scroll;

      &-item {
        display: flex;
        align-items: center;

        margin: 1em 0;
        padding: 0 0.25em;
        border-bottom: 1px solid $second-color;

        &:last-child {
          border-bottom: 0 solid transparent;
        }

        color: black;

        .btn-check-todo {
          display: block;

          width: 3.2rem;
          background-color: transparent;
          border-radius: 50%;
        }
        [data-checked-todo='true'] {
          background-color: $second-color;
          &:hover {
            background-color: $third-color;
          }
        }

        &__p {
          width: 80%;
          margin-left: 1em;

          font-size: clamp(1.5rem, 1.5vw, 4rem);
          font-family: $main-font;
          font-weight: 500;

          word-wrap: break-word;

          &--not-found {
            margin: 2em;
          }
        }

        .btn-remove-todo {
          display: block;
          margin-left: auto;
        }
      }
    }

    .btn-clear-completed {
      display: block;
      text-align: center;
      margin: 0 auto;
    }
  }
}

footer {
  background-color: $first-color;
  padding: 1em;
  margin-top: 10em;

  color: white;
  font-size: clamp(1rem, 1.3vw, 3rem);
  font-weight: 500;

  .footer__link {
    color: $fourth-color;
    font-family: $main-font;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

//====================
//Dark theme styles
//====================
body[data-dark-theme='true'] {
  background-color: $second-dark-color;
}

.btn-with-icon[data-dark-theme='true'] {
  background-color: $second-dark-color;
  .btn-with-icon-i {
  }
  &:hover {
    background-color: $third-dark-color;
    border-color: $third-color;
    color: $fourth-color;
    & > * {
      color: $second-color;
    }
  }
}

.btn-without-icon {
  color: $fourth-color;
}

header[data-dark-theme='true'] {
  background-color: $first-dark-color;
  color: $fourth-color;
}

.app-section[data-dark-theme='true'] {
  color: white;

  .todo-list-form {
    .form-div {
      &__input {
        background-color: $third-dark-color;
        color: $fourth-color;
      }

      .btn-add-todo {
        background-color: $third-dark-color;

        &:hover {
          background-color: $first-dark-color;
        }
      }
    }
  }

  .todo-list-container {
    background-color: $first-dark-color;
    color: $fourth-color;

    .todo-list {
      background-color: $second-dark-color;

      &-item {
        color: $fourth-color;
        border-bottom: 1px solid $third-dark-color;

        [data-checked-todo='true'] {
          background-color: $third-dark-color;
          &:hover {
            background-color: $second-dark-color;
          }
        }
      }
    }
  }
}

footer[data-dark-theme='true'] {
  background-color: $first-dark-color;
  color: $fourth-color;
}
